<div class="container">
    <header class="jumbotron">
        <h1>Add User</h1>
        <p>Enter user information for new user.</p>
       <!-- <p> {{ content }}</p>  -->
    </header>
</div>

<div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="username">Username(required)</label>
        <input
          type="text"
          class="form-control"
          id="username"
          required
          [(ngModel)]="user.username"
          name="username"
          minlength="3"
        />
      </div>
  
      <div class="form-group">
        <label for="email">Email(required)</label>
        <input
          type="email"
          class="form-control"
          id="email"
          required
          [(ngModel)]="user.email"
          name="email"
        />
      </div>

      
      <div class="form-group">
        <label for="password">Password</label>
        <input
          class="form-control"
          id="password"
          required
          [(ngModel)]="user.password"
          name="password"
          minlength="6"
        />
      </div>

      <div class="form-group">
        <label for="email">Role</label>
        <input
          class="form-control"
          id="role"
          [(ngModel)]="user.role"
          name="role"
        />
  <br>
      <button (click)="saveUser()" class="btn btn-success">Submit</button>
      <a class="btn btn-warning" routerLink="/home">
        Go back
    </a>
  
    <div *ngIf="submitted">
      <h4>User created successfully!</h4>
      <button class="btn btn-success" (click)="newUser()">Add</button>
    </div>

  </div>
  