<!--TODO User should be able to update profile from here-->
<!--User profile Details-->
<div class="container" *ngIf="currentUser; else loggedOut">
    <header class="jumbotron">
        <h3>
            <strong>{{ currentUser.username }}'s</strong> Profile
        </h3>
    </header>
    <!-- Name of user -->
    <p>
        <strong>Email:</strong>
        {{ currentUser.email }}
    </p>
    <!--Password-->
    <strong>Role</strong>
    <ul>
        <li *ngFor="let role of currentUser.roles">
            {{ role }}
        </li>
    </ul>
</div>
<ng-template #loggedOut>
    Please login.
</ng-template>