<!--Figure out a way to display password to change-->
<div style="width: 400px; margin: auto;">
    <div *ngIf="currentUser" class="edit-form">
        <h4>User Detail</h4>
        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" [(ngModel)]="currentUser.username" name="username" />
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" [(ngModel)]="currentUser.email" name="email" />
            </div>

            <!-- <div class="form-group">
                <label for="password">Password</label>
                <input type="text" class="form-control" id="password" [(ngModel)]="currentUser.password" name="password" />
            </div> -->

            <div class="form-group">
                <label><strong>Role:</strong></label>
                <input type="text" class="form-control" id="role" [(ngModel)]="currentUser.role" name="role" />
            </div>
        </form>

        <button class="badge badge-danger mr-2" (click)="deleteUser()">
            Delete
        </button>

        <button type="submit" class="badge badge-success" (click)="updateUser()">
            Update
        </button>
        <p>{{ message }}</p>
    </div>

    <a class="badge badge-warning" routerLink="/users">
        Go back
    </a>
</div>
<div *ngIf="!currentUser">
    <br />
    <p>This user cannot be accessed..</p>
</div>